#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: bisque;
}


 body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: bisque;
}

.my-button {
  font-size: 16px;
  opacity: 0;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px; /* Adjust padding as needed */
}

.logo {
  width: 500px;
  height: auto;
}

.calendar {
  background-color: bisque;

}

.event-container {
  border: 1px solid #8c08b4;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #d40ad8;
  border-radius: 5px;
}

.event-title {
  font-size: 16px;
  font-weight: bold;
}

.event-details {
  font-size: 14px;
  color: #000000;
}

.login-container {
  font-size: 30px;
  position: top;
  color:black;
  padding: 20px;
  font:600;
}


.background-container {
  background-image: url('./assets/nsbe-background.jpg'); /* Adjust path to your image */
  position: absolute;
  right:0;
  bottom: 0;
}


.nav-table 
{
  display: flex;
  justify-content: flex-end;
}

.nav-table button {
  margin-left: 20px;
  padding: 10px 20px;
  color: black;
  border: none;
  cursor: pointer;
  background-color: bisque;
  font-size: 18px;

}

.nav-table button:hover {
  background-color: white;
}