body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
  color:whitesmoke;
  font-family: cursive;
}

td {
  padding: 5px;
  color: black;
  cursor: pointer;
}

.time {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
  color: whitesmoke;
  font-family: cursive;
}


.Event {
  width: 100px;
  color: black;
  font-family: cursive;
}

.Event h6, h5 {
  line-height: 0px;
  align-content: center;
}